<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <title>谷粒商城</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/search/favicon/title_logo.ico">
    <link rel="stylesheet" type="text/css" href="/static/search/font/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/static/search/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/search/css/first-screen.chunk.css">
    <link rel="stylesheet" href="/static/search/css/index.css">
    <script src="/static/search/js/jquery-1.12.4.js"></script>
</head>
<body>
<!--头部-->
<div class="header_head">
    <div class="header_head_box">
        <ul>
            <span th:if="${session.loginUser == null}">
                <li>
                    <a href="http://auth.mall.com/login.html">你好，请登录</a>
                </li>
                <li>
                    <a href="http://auth.mall.com/register.html" class="li_2">免费注册</a>
                </li>
                <span>|</span>
            </span>
            <li th:if="${session.loginUser != null}">
                <a href="">[[${session.loginUser.nickname}]]</a>
            </li>
            <li>
                <a href="http://member.mall.com/memberOrderList.html">我的订单</a>
            </li>
        </ul>
    </div>
</div>

<!--搜索导航-->
<div class="header_sous">
    <div class="logo">
        <a href="http://mall.com"><img src="/static/search/image/logo1.jpg" alt=""></a>
    </div>
    <div class="header_form" th:with="keyword=${param.keyword}">
        <input id="searchText" type="text" placeholder="手机" th:value="${keyword}"/>
        <button class="search_button" aria-label="搜索" onclick="searchByKeyword()">
            <i class="iconfont"></i>
        </button>
    </div>
    <div class="header_ico">
        <div class="header_gw">
            <img src="/static/search/image/settleup-@1x.png" style="vertical-align: middle;"/>
            <span><a href="http://cart.mall.com/cart.html">我的购物车</a></span>
            <span>0</span>
        </div>
        <div class="header_ko">
            <p>购物车中还没有商品，赶紧选购吧！</p>
        </div>
    </div>
    <div class="header_form_nav">
        <ul>
            <li>
                <a href="#">谷粒商城之家</a>
            </li>
            <li>
                <a href="#">谷粒商城专卖店</a>
            </li>
            <li>
                <a href="#">平板</a>
            </li>
            <li>
                <a href="#">电脑</a>
            </li>
            <li>
                <a href="#">ipad</a>
            </li>
        </ul>
    </div>
    <nav>
        <ul>
            <li class="nav_li1">
                <a href="#">全部商品分类</a>
            </li>
            <li class="nav_li">
                <a href="#">服装城</a>
            </li>
            <li class="nav_li">
                <a href="#">没装馆</a>
            </li>
            <li class="nav_li">
                <a href="#">超市</a>
            </li>
            <li class="nav_li">
                <a href="#">生鲜</a>
            </li>
        </ul>
        <div class="spacer">|</div>
        <ul>
            <li class="nav_li">
                <a href="#">全球购</a>
            </li>
            <li class="nav_li">
                <a href="#">闪购</a>
            </li>
            <li class="nav_li">
                <a href="#">拍卖</a>
            </li>
        </ul>
        <div class="spacer">|</div>
        <ul>
            <li class="nav_li">
                <a href="#">金融</a>
            </li>
        </ul>
    </nav>
    <div class="header_main_left">
        <ul>
            <li class="header_li2" th:each="category:${categories}">
                <a href="#" class="header_main_left_a" th:attr="ctg-data=${category.catId}"><b
                        th:text="${category.name}">手机</b></a>
            </li>
        </ul>
    </div>
</div>

<!--导航线-->
<hr style="border: 1px solid red!important;margin-top: -7px;">

<!--热卖促销-->
<div class="JD_temai">
    <div class="JD_main">
        <div class="JD_left">
            <div class="hd">
                热卖推荐
            </div>
            <div class="bd mc">
                <ul class="mc">
                    <li>
                        <a href="#" class="mc_a"><img src="/static/search/img/5a28b5a1n8a5c095f.jpg" alt=""></a>
                        <div class="mc_div">
                            <a href="#" class="mc_div_a1">
                                <em>华为 HUAWEI nova 2S 全面屏四摄 6GB +64GB 曜石黑 移动联通电信4G手机 双卡双待</em>
                            </a>
                            <p>
                                <strong>
                                    <em class="number J-p-5963064">￥2999.00</em>
                                </strong>
                            </p>
                            <a href="#" class="mc_div_a2">立即抢购</a>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="mc_a"><img src="/static/search/img/59f5eef1n99542494.jpg" alt=""></a>
                        <div class="mc_div">
                            <a href="#" class="mc_div_a1">
                                <em>【预约版】华为 HUAWEI 畅享7S 全面屏双摄 4GB +64GB 黑色 移动联通电信4G手机 双卡双待</em>
                            </a>
                            <p>
                                <strong>
                                    <em class="number J-p-5963064">￥1699.00</em>
                                </strong>
                            </p>
                            <a href="#" class="mc_div_a2">立即抢购</a>
                        </div>
                    </li>
                    <li style="margin-right: 0">
                        <a href="#" class="mc_a"><img src="/static/search/img/59f5eef1n99542494.jpg" alt=""></a>
                        <div class="mc_div">
                            <a href="#" class="mc_div_a1">
                                <em>华为 HUAWEI nova 2S 全面屏四摄 6GB +64GB 曜石黑 移动联通电信4G手机 双卡双待</em>
                            </a>
                            <p>
                                <strong>
                                    <em class="number J-p-5963064">￥2999.00</em>
                                </strong>
                            </p>
                            <a href="#" class="mc_div_a2">立即抢购</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="JD_right">
            <div class="hd"> 促销活动</div>
            <div class="bd">
                <ul>
                    <li> . <a href="#">红米千元全面屏手机上市</a></li>
                    <li> . <a href="#">锤子坚果Pro2火爆预约中</a></li>
                    <li> . <a href="#">大牌新品 疯狂抢购</a></li>
                    <li> . <a href="#">X20 vivo蓝新色上市</a></li>
                    <li> . <a href="#">荣耀畅玩7X新品上市</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--手机-->
<div class="JD_ipone">
    <div class="JD_ipone_bar">
        <div class="JD_ipone_one a">
            <a href="#">手机</a>
        </div>
        <i><img src="/static/search/image/right-@1x.png" alt=""></i>
        <div class="JD_ipone_one b">
            <a href="#" class="qqq">手机通讯录 <img src="/static/search/image/down-@1x.png" alt=""></a>
            <div>
                <a href="#">手机通讯</a>
                <a href="#">运营商</a>
                <a href="#">手机配件</a>
                <a href="#">手机服务</a>
            </div>
        </div>
        <i><img src="/static/search/image/right-@1x.png" alt=""></i>
        <div class="JD_ipone_one c">
            <a href="#" class="qqq">手机 <img src="/static/search/image/down-@1x.png" alt=""></a>
            <div>
                <a href="#">手机</a>
                <a href="#">老人机</a>
                <a href="#">对讲机</a>
                <a href="#">女性手机</a>
                <a href="#">超续航手机</a>
                <a href="#">全面屏手机</a>
                <a href="#">拍照手机</a>
                <a href="#">游戏手机</a>
            </div>
        </div>
        <i><img src="/static/search/image/right-@1x.png" alt=""></i>

        <a class="crumb-select-item" th:each="nav : ${result.getNavs()}">
            <b>[[${nav.getNavName()}]]：</b>
            <em>[[${nav.getNavValue()}]]</em>
            <i class="link" th:attr="link=${nav.getLink()}"></i>
        </a>
    </div>
</div>

<!--商品筛选和排序-->
<div class="JD_banner w">
    <div class="JD_nav">
        <div class="JD_selector">
            <!--手机商品筛选-->
            <div class="title">
                <h3><b>手机</b><em>商品筛选</em></h3>
                <div class="st-ext">共&nbsp;<span th:text="${result.getTotal()}">111</span>个商品</div>
            </div>
            <div class="JD_nav_logo" th:with="brandId = ${param.brandId}">
                <!--品牌-->
                <div class="JD_nav_wrap" th:if="${#strings.isEmpty(brandId)}">
                    <div class="sl_key">
                        <span><b>品牌：</b></span>
                    </div>
                    <div class="sl_value">
                        <div class="sl_value_logo">
                            <ul>
                                <li th:each="brand:${result.getBrands()}">
                                    <a th:href="${'javascript:search(&quot;brandId&quot;,'+brand.getBrandId()+')'}">
                                        <img th:src="${brand.getBrandImg()}" alt="">
                                        <div th:text="${brand.getBrandName()}">
                                            华为(HUAWEI)
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sl_ext">
                        <a href="#">
                            更多
                            <i style='background: url("search/image/search.ele.png")no-repeat 3px 7px'></i>
                            <b style='background: url("search/image/search.ele.png")no-repeat 3px -44px'></b>
                        </a>
                        <a href="#">
                            多选
                            <i>+</i>
                            <span>+</span>
                        </a>
                    </div>
                </div>
                <!--分类-->
                <div class="JD_pre">
                    <div class="sl_key">
                        <span><b>分类：</b></span>
                    </div>
                    <div class="sl_value">
                        <ul>
                            <li th:each="categorys:${result.getCategorys()}">
                                <a th:href="${'javascript:search(&quot;catalog3Id&quot;,'+categorys.getCatalogId()+')'}"
                                   th:text="${categorys.getCatalogName()}">5.56英寸及以上</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--屏幕尺寸-->
                <div class="JD_pre" th:each="attr:${result.getAttrs()}"
                 th:if="${!#lists.contains(result.getAttrIds(),attr.getAttrId())}">
                    <div class="sl_key">
                        <span th:text="${attr.getAttrName()}">屏幕尺寸：</span>
                    </div>
                    <div class="sl_value">
                        <ul>
                            <li th:each="values:${attr.getAttrValue()}">
                                <a th:href="${'javascript:search(&quot;attrs&quot;,&quot;' + attr.getAttrId() + '_' + values + '&quot;)'}"
                                   th:text="${values}">5.56英寸及以上</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="JD_show">
                <a href="#">
                    <span>更多选项</span>
                </a>
            </div>
        </div>
        <!--排序-->
        <div class="JD_banner_main">
            <!--商品精选-->
            <div class="JD_con_left">
                <div class="JD_con_left_bar">
                    <div class="JD_con_one">
                        <div class="mt">
                            <h3>商品精选</h3>
                            <span>广告</span>
                        </div>
                        <div class="mc">
                            <ul>
                                <li>
                                    <a href="#" title="vivo X9s 全网通 4GB+64GB 磨砂黑 移动联通电信4G手机 双卡双待"><img
                                            src="/static/search/img/59bf3c47n91d65c73.jpg" alt=""></a>
                                    <a href="#" title="【预约版】华为 HUAWEI 畅享7S 全面屏双摄 4GB +64GB 黑色 移动联通电信4G手机 双卡双待">
                                        <em>华为 HUAWEI nova 2S 全面屏四摄 6GB +64GB 曜石黑 移动联通电信4G手机 双卡双待</em>
                                    </a>
                                    <div class="mc_price">
                                        <strong class="price">
                                            <span class="J-p-5963064">￥2999.00</span>
                                        </strong>
                                        <span class="mc-ico" title="购买本商品送赠品">
                                            <i class="goods-icons">赠品</i>
                                        </span>
                                    </div>
                                    <div class="mc_rev">
                                        已有
                                        <a href="#" class="number">12466</a>
                                        人评价
                                    </div>
                                </li>
                                <li>
                                    <a href="#" title="vivo X9s 全网通 4GB+64GB 磨砂黑 移动联通电信4G手机 双卡双待"><img
                                            src="/static/search/img/59bf3c47n91d65c73.jpg" alt=""></a>
                                    <a href="#" title="【预约版】华为 HUAWEI 畅享7S 全面屏双摄 4GB +64GB 黑色 移动联通电信4G手机 双卡双待">
                                        <em>华为 HUAWEI nova 2S 全面屏四摄 6GB +64GB 曜石黑 移动联通电信4G手机 双卡双待</em>
                                    </a>
                                    <div class="mc_price">
                                        <strong class="price">
                                            <span class="J-p-5963064">￥2999.00</span>
                                        </strong>
                                        <span class="mc-ico" title="购买本商品送赠品">
                                            <i class="goods-icons">赠品</i>
                                        </span>
                                    </div>
                                    <div class="mc_rev">
                                        已有
                                        <a href="#" class="number">12466</a>
                                        人评价
                                    </div>
                                </li>
                                <li>
                                    <a href="#" title="vivo X9s 全网通 4GB+64GB 磨砂黑 移动联通电信4G手机 双卡双待"><img
                                            src="/static/search/img/593ba628n8794c6a6.jpg" alt=""></a>
                                    <a href="#" title="【预约版】华为 HUAWEI 畅享7S 全面屏双摄 4GB +64GB 黑色 移动联通电信4G手机 双卡双待">
                                        <em>诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机</em>
                                    </a>
                                    <div class="mc_price">
                                        <strong class="price">
                                            <span class="J-p-5963064">￥1799.00</span>
                                        </strong>
                                        <span class="mc-ico" title="购买本商品送赠品">
                                            <i class="goods-icons">赠品</i>
                                        </span>
                                    </div>
                                    <div class="mc_rev">
                                        已有
                                        <a href="#" class="number">15600</a>
                                        人评价
                                    </div>
                                </li>
                                <li>
                                    <a href="#" title="vivo X9s 全网通 4GB+64GB 磨砂黑 移动联通电信4G手机 双卡双待"><img
                                            src="/static/search/img/5919637an271a1301.jpg" alt=""></a>
                                    <a href="#" title="【预约版】华为 HUAWEI 畅享7S 全面屏双摄 4GB +64GB 黑色 移动联通电信4G手机 双卡双待">
                                        <em>vivo Xplay6 全网通 6GB+64GB 磨砂黑 移动联通电信4G手机 双卡双待</em>
                                    </a>
                                    <div class="mc_price">
                                        <strong class="price">
                                            <span class="J-p-5963064">￥3498.00</span>
                                        </strong>
                                        <span class="mc-ico" title="购买本商品送赠品">
                                            <i class="goods-icons">赠品</i>
                                        </span>
                                    </div>
                                    <div class="mc_rev">
                                        已有
                                        <a href="#" class="number">5369</a>
                                        人评价
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="JD_con_one">
                        <div class="mt">
                            <h3>达人选购</h3>
                        </div>
                        <div class="mc">
                            <ul>
                                <li>
                                    <a href="#" title="vivo X9s 全网通 4GB+64GB 磨砂黑 移动联通电信4G手机 双卡双待"><img
                                            src="/static/search/img/59bf3c47n91d65c73.jpg" alt=""></a>
                                    <a href="#">
                                        <em>华为 HUAWEI nova 2S 全面屏四摄 6GB +64GB 曜石黑 移动联通电信4G手机 双卡双待</em>
                                    </a>
                                    <div class="mc_price">
                                        <strong class="price">
                                            <span class="J-p-5963064">￥2999.00</span>
                                        </strong>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" title="vivo X9s 全网通 4GB+64GB 磨砂黑 移动联通电信4G手机 双卡双待"><img
                                            src="/static/search/img/59bf3c47n91d65c73.jpg" alt=""></a>
                                    <a href="#">
                                        <em>华为 HUAWEI nova 2S 全面屏四摄 6GB +64GB 曜石黑 移动联通电信4G手机 双卡双待</em>
                                    </a>
                                    <div class="mc_price">
                                        <strong class="price">
                                            <span class="J-p-5963064">￥2999.00</span>
                                        </strong>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" title="vivo X9s 全网通 4GB+64GB 磨砂黑 移动联通电信4G手机 双卡双待"><img
                                            src="/static/search/img/593ba628n8794c6a6.jpg" alt=""></a>
                                    <a href="#">
                                        <em>诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机</em>
                                    </a>
                                    <div class="mc_price">
                                        <strong class="price">
                                            <span class="J-p-5963064">￥1799.00</span>
                                        </strong>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" title="vivo X9s 全网通 4GB+64GB 磨砂黑 移动联通电信4G手机 双卡双待"><img
                                            src="/static/search/img/5919637an271a1301.jpg" alt=""></a>
                                    <a href="#">
                                        <em>vivo Xplay6 全网通 6GB+64GB 磨砂黑 移动联通电信4G手机 双卡双待</em>
                                    </a>
                                    <div class="mc_price">
                                        <strong class="price">
                                            <span class="J-p-5963064">￥3498.00</span>
                                        </strong>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="JD_con_one" style="border:none;">
                        <div class="mt">
                            <h3>商品精选</h3>
                            <span>广告</span>
                        </div>
                        <div class="mc">
                            <ul>
                                <li>
                                    <a href="#"><img src="/static/search/img/599a806bn9d829c1c.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="/static/search/img/593e4de0n5ff878a4.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--综合排序-->
            <div class="JD_con_right">
                <div class="filter">
                    <!--综合排序-->
                    <div class="filter_top">
                        <div class="filter_top_left" th:with="p = ${param.sort},priceRange = ${param.skuPrice}">
                            <a th:class="${(!#strings.isEmpty(p) && #strings.endsWith(p,'desc') && #strings.startsWith(p,'hotScore')) ? 'sort_a desc' : 'sort_a'}"
                               th:text="${(!#strings.isEmpty(p) && #strings.endsWith(p,'desc') && #strings.startsWith(p,'hotScore')) ? '综合排序↓' : '综合排序↑'}"
                               th:attr="style=${(#strings.isEmpty(p) || #strings.startsWith(p,'hotScore')) ?
                               'color:#FFF;border-color:#e4393c;background:#e4393c' :
                               'color:#333;border-color:#CCC;background:#FFF'}"
                               sort="hotScore" href="#">综合排序</a>
                            <a th:class="${(!#strings.isEmpty(p) && #strings.endsWith(p,'desc') && #strings.startsWith(p,'saleCount')) ? 'sort_a desc' : 'sort_a'}"
                               th:text="${(!#strings.isEmpty(p) && #strings.endsWith(p,'desc') && #strings.startsWith(p,'saleCount')) ? '销量↓' : '销量↑'}"
                               th:attr="style=${(!#strings.isEmpty(p) && #strings.startsWith(p,'saleCount')) ?
                               'color:#FFF;border-color:#e4393c;background:#e4393c' :
                               'color:#333;border-color:#CCC;background:#FFF'}"
                               sort="saleCount" href="#">销量</a>
                            <a th:class="${(!#strings.isEmpty(p) && #strings.endsWith(p,'desc') && #strings.startsWith(p,'skuPrice')) ? 'sort_a desc' : 'sort_a'}"
                               th:text="${(!#strings.isEmpty(p) && #strings.endsWith(p,'desc') && #strings.startsWith(p,'skuPrice')) ? '价格↓' : '价格↑'}"
                               th:attr="style=${ (!#strings.isEmpty(p) && #strings.startsWith(p,'skuPrice')) ?
                               'color:#FFF;border-color:#e4393c;background:#e4393c' :
                               'color:#333;border-color:#CCC;background:#FFF'}"
                               sort="skuPrice" href="#">价格</a>

                            <a style="margin-left: 100px;" href="#">上架时间</a>
                            <a href="#">价格区间</a>
                            <input type="number" style="width: 100px;height: 23px;
                            margin-top: 0;vertical-align: unset;"
                                   class="form-check-input" id="start"
                                   th:value="${#strings.isEmpty(priceRange) ? '' : #strings.substringBefore(priceRange,'_')}"/>
                            -
                            <input type="number" style="margin-top: 0;width: 100px;
                                   height: 23px;vertical-align: unset;"
                                   class="form-check-input" id="end"
                                   th:value="${#strings.isEmpty(priceRange) ? '' : #strings.substringAfter(priceRange,'_')}"/>
                            <button style="padding:0;height:25px;"
                                    class="btn btn-primary" id="skuPriceBtn">确定
                            </button>
                        </div>
                    </div>
                    <!--收货地址-->
                    <div class="filter_bottom">
                        <div class="filter_bottom_left">
                            <div class="fs-cell">收货地</div>
                            <div class="dizhi">
                                <div class="dizhi_show">
                                    <em>北京朝阳区三环以内</em>
                                    <b></b>
                                </div>
                            </div>
                            <div class="dizhi_con">
                                <ul id="tab">
                                    <li id="tab1" value="1">北京 <img src="image/down-@1x.png" alt=""></li>
                                    <li id="tab2" value="2">朝阳 <img src="image/down-@1x.png" alt=""></li>
                                    <li id="tab3" value="3">三环以内 <img src="image/down-@1x.png" alt=""></li>
                                </ul>
                                <div id="container">
                                    <div id="content1" style="z-index: 1;">
                                        <a href="#">北京</a>
                                        <a href="#">上海</a>
                                        <a href="#">天津</a>
                                        <a href="#">重庆</a>
                                        <a href="#">河北</a>
                                        <a href="#">山西</a>
                                        <a href="#">河南</a>
                                        <a href="#">辽宁</a>
                                        <a href="#">吉林</a>
                                        <a href="#">黑龙江</a>
                                        <a href="#">内蒙古</a>
                                        <a href="#">江苏</a>
                                        <a href="#">山东</a>
                                        <a href="#">安徽</a>
                                        <a href="#">浙江</a>
                                        <a href="#">福建</a>
                                        <a href="#">湖北</a>
                                        <a href="#">湖南</a>
                                        <a href="#">广东</a>
                                        <a href="#">广西</a>
                                        <a href="#">江西</a>
                                        <a href="#">四川</a>
                                        <a href="#">海南</a>
                                        <a href="#">贵州</a>
                                        <a href="#">云南</a>
                                        <a href="#">西藏</a>
                                        <a href="#">陕西</a>
                                        <a href="#">甘肃</a>
                                        <a href="#">青海</a>
                                        <a href="#">宁夏</a>
                                        <a href="#">新疆</a>
                                        <a href="#">港澳</a>
                                        <a href="#">台湾</a>
                                        <a href="#">钓鱼岛</a>
                                        <a href="#">海外</a>

                                    </div>
                                    <div id="content2">
                                        <a href="#">朝阳区</a>
                                        <a href="#">海淀区</a>
                                        <a href="#">西城区</a>
                                        <a href="#">东城区</a>
                                        <a href="#">大兴区</a>
                                        <a href="#">丰台区</a>
                                        <a href="#">昌平区</a>
                                        <a href="#">顺义区</a>

                                    </div>
                                    <div id="content3">
                                        <a href="#">三环以内</a>
                                        <a href="#">管庄</a>
                                        <a href="#">北苑</a>
                                        <a href="#">定福庄</a>
                                        <a href="#">三环到四环之间</a>
                                        <a href="#">四环到五环之间</a>
                                        <a href="#">五环到六环之间</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter_bottom_right">
                            <ul>
                                <li>
                                    <input type="checkbox" style="vertical-align: middle;" name=""/>
                                    <a href="#">谷粒商城配送</a>
                                </li>
                                <li>
                                    <input type="checkbox" style="vertical-align: middle;" name=""/>
                                    <a href="#">京尊达</a>
                                </li>
                                <li>
                                    <input type="checkbox" style="vertical-align: middle;" name=""/>
                                    <a href="#">货到付款</a>
                                </li>
                                <li th:with="hasStock = ${param.hasStock}">
                                    <input type="checkbox" id="hasStock"
                                           style="vertical-align: middle;" name=""
                                           th:checked="${ #strings.equals(hasStock,'1')}"/>
                                    <a href="#">仅显示有货</a>
                                </li>
                                <li>
                                    <input type="checkbox" style="vertical-align: middle;" name=""/>
                                    <a href="#">可配送全球</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--排序内容-->
                    <div class="rig_tab">
                        <div th:each="products:${result.getProducts()}">
                            <div class="ico">
                                <i class="iconfont icon-weiguanzhu"></i>
                                <a href="#">关注</a>
                            </div>
                            <p class="da">
                                <a th:href="|http://item.mall.com/${products.getSkuId()}.html|">
                                    <img th:src="${products.getSkuImg()}" class="dim">
                                </a>
                            </p>
                            <ul class="tab_im">
                                <li>
                                    <a th:href="|http://item.mall.com/${products.getSkuId()}.html|" title="黑色">
                                        <img th:src="${products.getSkuImg()}">
                                    </a>
                                </li>
                            </ul>
                            <p class="tab_R">
                                <span th:text="'¥'+ ${products.getSkuPrice()}">¥5199.00</span>
                            </p>
                            <p class="tab_JE">
                                <a th:href="|http://item.mall.com/${products.getSkuId()}.html|" th:utext="${products.getSkuTitle()}">
                                    Apple iPhone 7 Plus (A1661) 32G 黑色 移动联通电信4G手机
                                </a>
                            </p>
                            <p class="tab_PI">已有<span>11万+</span>热门评价
                                <a href="#">二手有售</a>
                            </p>
                            <p class="tab_CP"><a href="#" title="谷粒商城Apple产品专营店">谷粒商城Apple产品...</a>
                                <a href='#' title="联系供应商进行咨询">
                                    <img src="/static/search/img/xcxc.png">
                                </a>
                            </p>
                            <div class="tab_FO">
                                <div class="FO_one">
                                    <p>自营
                                        <span>谷粒商城自营,品质保证</span>
                                    </p>
                                    <p>满赠
                                        <span>该商品参加满赠活动</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--分页-->
                    <div class="filter_page">
                        <div class="page_wrap">
                            <span class="page_span1">
                                <a class="page_a" th:attr="pn=${result.getPageNum() - 1}"
                                   th:if="${result.getPageNum() > 1}">
                                    < 上一页
                                </a>
                                <a class="page_a"
                                   th:attr="pn=${page},style=${page == result.getPageNum() ? 'border: 0;color:#ee2222;background: #fff': ''}"
                                   th:each="page:${result.getTotalPagesList()}" href="#">
                                    [[${page}]]
                                </a>
                                <a class="page_a" th:attr="pn=${result.getPageNum() + 1}"
                                   th:if="${result.getPageNum() < result.getTotalPages()}">
                                    下一页 >
                                </a>
                            </span>
                            <span class="page_span2">
                                <em>共<b th:text="${result.getTotal()}">169</b>页&nbsp;&nbsp;到第</em>
                                <input type="number" value="1">
                                <em>页</em>
                                <a class="page_submit" href="#">确定</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--商品精选-->
<div class="JD_jx">
    <div class="JD_jx_title">
        <div class="mt">
            <strong class="mt-title">商品精选</strong>
            <img src="/static/search/image/u-ad.gif" alt="">
        </div>
        <div class="mc">
            <ul>
                <li>
                    <div class="mc_img">
                        <a href="#" title="【预约版】华为 HUAWEI 畅享7S 全面屏双摄 4GB +64GB 黑色 移动联通电信4G手机 双卡双待">
                            <img src="/static/search/img/5a25ffc7N98b35d49.jpg" alt="">
                        </a>
                    </div>
                    <div class="mc_name">
                        <a href="#" title="【预约版】华为 HUAWEI 畅享7S 全面屏双摄 4GB +64GB 黑色 移动联通电信4G手机 双卡双待">
                            <em>【预约版】华为 HUAWEI 畅享7S 全面屏双摄 4GB +64GB 黑色 移动联通电信4G手机 双卡双待</em>
                        </a>
                    </div>
                    <div class="mc_price">
                        <strong>
                            <span>￥1999.00</span>
                        </strong>
                        <span class="mc_ico" title="购买本商品送赠品">赠品</span>
                    </div>
                    <div class="mc_rev">
                        <a href="#">15930</a>
                        <span>人好评</span>
                    </div>
                </li>
                <li>
                    <div class="mc_img">
                        <a href="#" title="【预约版】华为 HUAWEI 畅享7S 全面屏双摄 4GB +64GB 黑色 移动联通电信4G手机 双卡双待">
                            <img src="/static/search/img/5a25ffc7N98b35d49.jpg" alt="">
                        </a>
                    </div>
                    <div class="mc_name">
                        <a href="#" title="【预约版】华为 HUAWEI 畅享7S 全面屏双摄 4GB +64GB 黑色 移动联通电信4G手机 双卡双待">
                            <em>【预约版】华为 HUAWEI 畅享7S 全面屏双摄 4GB +64GB 黑色 移动联通电信4G手机 双卡双待</em>
                        </a>
                    </div>
                    <div class="mc_price">
                        <strong>
                            <span>￥1999.00</span>
                        </strong>
                        <span class="mc_ico" title="购买本商品送赠品">赠品</span>
                    </div>
                    <div class="mc_rev">
                        <a href="#">15930</a>
                        <span>人好评</span>
                    </div>
                </li>
                <li>
                    <div class="mc_img">
                        <a href="#" title="【预约版】华为 HUAWEI 畅享7S 全面屏双摄 4GB +64GB 黑色 移动联通电信4G手机 双卡双待">
                            <img src="/static/search/img/5a25ffc7N98b35d49.jpg" alt="">
                        </a>
                    </div>
                    <div class="mc_name">
                        <a href="#" title="【预约版】华为 HUAWEI 畅享7S 全面屏双摄 4GB +64GB 黑色 移动联通电信4G手机 双卡双待">
                            <em>【预约版】华为 HUAWEI 畅享7S 全面屏双摄 4GB +64GB 黑色 移动联通电信4G手机 双卡双待</em>
                        </a>
                    </div>
                    <div class="mc_price">
                        <strong>
                            <span>￥1999.00</span>
                        </strong>
                        <span class="mc_ico" title="购买本商品送赠品">赠品</span>
                    </div>
                    <div class="mc_rev">
                        <a href="#">15930</a>
                        <span>人好评</span>
                    </div>
                </li>
                <li>
                    <div class="mc_img">
                        <a href="#" title="【预约版】华为 HUAWEI 畅享7S 全面屏双摄 4GB +64GB 黑色 移动联通电信4G手机 双卡双待">
                            <img src="/static/search/img/5a25ffc7N98b35d49.jpg" alt="">
                        </a>
                    </div>
                    <div class="mc_name">
                        <a href="#" title="【预约版】华为 HUAWEI 畅享7S 全面屏双摄 4GB +64GB 黑色 移动联通电信4G手机 双卡双待">
                            <em>【预约版】华为 HUAWEI 畅享7S 全面屏双摄 4GB +64GB 黑色 移动联通电信4G手机 双卡双待</em>
                        </a>
                    </div>
                    <div class="mc_price">
                        <strong>
                            <span>￥1999.00</span>
                        </strong>
                        <span class="mc_ico" title="购买本商品送赠品">赠品</span>
                    </div>
                    <div class="mc_rev">
                        <a href="#">15930</a>
                        <span>人好评</span>
                    </div>
                </li>
                <li>
                    <div class="mc_img">
                        <a href="#" title="【预约版】华为 HUAWEI 畅享7S 全面屏双摄 4GB +64GB 黑色 移动联通电信4G手机 双卡双待">
                            <img src="/static/search/img/5a25ffc7N98b35d49.jpg" alt="">
                        </a>
                    </div>
                    <div class="mc_name">
                        <a href="#" title="【预约版】华为 HUAWEI 畅享7S 全面屏双摄 4GB +64GB 黑色 移动联通电信4G手机 双卡双待">
                            <em>【预约版】华为 HUAWEI 畅享7S 全面屏双摄 4GB +64GB 黑色 移动联通电信4G手机 双卡双待</em>
                        </a>
                    </div>
                    <div class="mc_price">
                        <strong>
                            <span>￥1999.00</span>
                        </strong>
                        <span class="mc_ico" title="购买本商品送赠品">赠品</span>
                    </div>
                    <div class="mc_rev">
                        <a href="#">15930</a>
                        <span>人好评</span>
                    </div>
                </li>
            </ul>


        </div>
    </div>
</div>

<!--猜你喜欢-->
<div class="JD_cnxh">
    <div class="JD_jx_title">
        <div class="mt">
            <strong class="mt-title">猜你喜欢</strong>
            <a href="#">
                <img src="/static/search/image/update.png" alt="">
                换一批
            </a>
        </div>
        <div class="mc">
            <ul>
                <li>
                    <div class="mc_img">
                        <a href="#" title="诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机">
                            <img src="/static/search/img/59bf3c47n91d65c73.jpg" alt="">
                        </a>
                    </div>
                    <div class="mc_name">
                        <a href="#" title="诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机">
                            <em>诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机</em>
                        </a>
                    </div>
                    <div class="mc_rev">
                        <a href="#">已有80万+人评价</a>
                    </div>
                    <div class="mc_price">
                        <strong>
                            <span>￥1999.00</span>
                        </strong>
                    </div>

                </li>
                <li>
                    <div class="mc_img">
                        <a href="#" title="诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机">
                            <img src="/static/search/img/5a28b5c6Ndec5088f.jpg" alt=""></a>
                    </div>
                    <div class="mc_name">
                        <a href="#" title="诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机">
                            <em>诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机</em>
                        </a>
                    </div>
                    <div class="mc_rev">
                        <a href="#">已有80万+人评价</a>
                    </div>
                    <div class="mc_price">
                        <strong>
                            <span>￥1999.00</span>
                        </strong>
                    </div>

                </li>
                <li>
                    <div class="mc_img">
                        <a href="#" title="诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机"><img
                                src="/static/search/img/593e4de0n5ff878a4.jpg" alt=""></a>
                    </div>
                    <div class="mc_name">
                        <a href="#" title="诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机">
                            <em>诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机</em>
                        </a>
                    </div>
                    <div class="mc_rev">
                        <a href="#">已有80万+人评价</a>
                    </div>
                    <div class="mc_price">
                        <strong>
                            <span>￥1999.00</span>
                        </strong>
                    </div>

                </li>
                <li>
                    <div class="mc_img">
                        <a href="#" title="诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机"><img
                                src="/static/search/img/593e4de0n5ff878a4.jpg" alt=""></a>
                    </div>
                    <div class="mc_name">
                        <a href="#" title="诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机">
                            <em>诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机</em>
                        </a>
                    </div>
                    <div class="mc_rev">
                        <a href="#">已有80万+人评价</a>
                    </div>
                    <div class="mc_price">
                        <strong>
                            <span>￥1999.00</span>
                        </strong>
                    </div>

                </li>
                <li>
                    <div class="mc_img">
                        <a href="#" title="诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机"><img
                                src="/static/search/img/59c493a7N3f9b9c85 (1).jpg" alt=""></a>
                    </div>
                    <div class="mc_name">
                        <a href="#" title="诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机">
                            <em>诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机</em>
                        </a>
                    </div>
                    <div class="mc_rev">
                        <a href="#">已有80万+人评价</a>
                    </div>
                    <div class="mc_price">
                        <strong>
                            <span>￥1999.00</span>
                        </strong>
                    </div>

                </li>
                <li>
                    <div class="mc_img">
                        <a href="#" title="诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机"><img
                                src="/static/search/img/59c493a7N3f9b9c85 (1).jpg" alt=""></a>
                    </div>
                    <div class="mc_name">
                        <a href="#" title="诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机">
                            <em>诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机</em>
                        </a>
                    </div>
                    <div class="mc_rev">
                        <a href="#">已有80万+人评价</a>
                    </div>
                    <div class="mc_price">
                        <strong>
                            <span>￥1999.00</span>
                        </strong>
                    </div>

                </li>
            </ul>


        </div>
    </div>
</div>

<!--我的足迹-->
<div class="JD_zuji">
    <div class="JD_jx_title">
        <div class="mt">
            <strong class="mt-title">我的足迹</strong>
            <a href="#">
                更多浏览记录
            </a>
        </div>
        <div class="mc">
            <ul>
                <li>
                    <div class="mc_img">
                        <a href="#" title="诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机">
                            <img src="/static/search/img/59e58a11Nc38676d5.jpg" alt="">
                        </a>
                    </div>
                    <div class="mc_price">
                        <strong>
                            <span>￥2998.00</span>
                        </strong>
                    </div>
                </li>
                <li>
                    <div class="mc_img">
                        <a href="#" title="诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机">
                            <img src="/static/search/img/5a28acccN73689386.jpg" alt="">
                        </a>
                    </div>
                    <div class="mc_price">
                        <strong>
                            <span>￥88.00</span>
                        </strong>
                    </div>
                </li>
                <li>
                    <div class="mc_img">
                        <a href="#" title="诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机">
                            <img src="/static/search/img/5a1690ddN441b5dce.jpg" alt="">
                        </a>
                    </div>
                    <div class="mc_price">
                        <strong>
                            <span>￥199.00</span>
                        </strong>
                    </div>
                </li>
                <li>
                    <div class="mc_img">
                        <a href="#" title="诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机">
                            <img src="/static/search/img/5a02bde7N7d4453b1.jpg" alt="">
                        </a>
                    </div>
                    <div class="mc_price">
                        <strong>
                            <span>￥799.00</span>
                        </strong>
                    </div>
                </li>
                <li>
                    <div class="mc_img">
                        <a href="#" title="诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机">
                            <img src="/static/search/img/5a122dbeN044ebf19.jpg" alt="">
                        </a>
                    </div>
                    <div class="mc_price">
                        <strong>
                            <span>￥599.00</span>
                        </strong>
                    </div>
                </li>
                <li>
                    <div class="mc_img">
                        <a href="#" title="诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机">
                            <img src="/static/search/img/59c493a7N3f9b9c85.jpg" alt="">
                        </a>
                    </div>
                    <div class="mc_price">
                        <strong>
                            <span>￥699.00</span>
                        </strong>
                    </div>
                </li>
                <li>
                    <div class="mc_img">
                        <a href="#" title="诺基亚 7 (Nokia 7) 4GB+64GB 黑色 全网通 双卡双待 移动联通电信4G手机">
                            <img src="/static/search/img/5a08f6f6N5bab2c1c.jpg" alt="">
                        </a>
                    </div>
                    <div class="mc_price">
                        <strong>
                            <span>￥715.00</span>
                        </strong>
                    </div>
                </li>
            </ul>


        </div>
    </div>
</div>

<!--底部广告-->
<div style="width: 1210px;margin: 0 auto;margin-bottom: 10px"><img src="/static/search/img/5a33a2e0N9a04b4af.jpg" alt=""></div>

<!--底部-->
<footer class="footer">
    <div class="footer_top">
        <ul>
            <li>
                <span></span>
                <h3>品类齐全，轻松购物</h3>
            </li>
            <li>
                <span></span>
                <h3>多仓直发，极速配发</h3>
            </li>
            <li>
                <span></span>
                <h3>正品行货，精致服务</h3>
            </li>
            <li>
                <span></span>
                <h3>天天低价，畅选无忧</h3>
            </li>
        </ul>
    </div>
    <div class="footer_center">
        <ol>
            <li>购物指南</li>
            <li><a href="#" style="color: rgb(114, 114, 114);">购物流程</a>
            </li>
            <li><a href="#" style="color: rgb(114, 114, 114);">会员介绍</a>
            </li>
            <li><a href="#">生活旅行</a>
            </li>
            <li><a href="#" style="color: rgb(114, 114, 114);">常见问题</a>
            </li>
            <li><a href="#">大家电</a>
            </li>
            <li><a href="#" style="color: rgb(114, 114, 114);">联系客服</a>
            </li>
        </ol>
        <ol>
            <li>配送方式</li>
            <li><a href="#" style="color: rgb(114, 114, 114);">上门自提</a>
            </li>
            <li><a href="#" style="color: rgb(114, 114, 114);">211限时达</a>
            </li>
            <li><a href="#" style="color: rgb(114, 114, 114);">配送服务查询</a>
            </li>
            <li><a href="#" style="color: rgb(114, 114, 114);">配送费收取标准</a>
            </li>
            <li><a href="#" style="color: rgb(114, 114, 114);">海外配送</a>
            </li>
        </ol>
        <ol>
            <li>支付方式</li>
            <li><a href="#" style="color: rgb(114, 114, 114);">货到付款</a>
            </li>
            <li><a href="#" style="color: rgb(114, 114, 114);">在线支付</a>
            </li>
            <li><a href="#" style="color: rgb(114, 114, 114);">分期付款</a>
            </li>
            <li><a href="#" style="color: rgb(114, 114, 114);">邮局汇款</a>
            </li>
            <li><a href="#" style="color: rgb(114, 114, 114);">公司转账</a>

            </li>
        </ol>
        <ol>
            <li>售后服务</li>
            <li><a href="#" style="color: rgb(114, 114, 114);">售后政策</a>
            </li>
            <li><a href="#" style="color: rgb(114, 114, 114);">价格保护</a>
            </li>
            <li><a href="#" style="color: rgb(114, 114, 114);">退款说明</a>
            </li>
            <li><a href="#" style="color: rgb(114, 114, 114);">返修/退换货</a>
            </li>
            <li><a href="#">取消订单</a>
            </li>
        </ol>
        <ol>
            <li>特色服务</li>
            <li><a href="#" style="color: rgb(114, 114, 114);">夺宝岛</a>
            </li>
            <li><a href="#">DIY装机</a>
            </li>
            <li><a href="#" style="color: rgb(114, 114, 114);">延保服务</a>
            </li>
            <li><a href="#" style="color: rgb(114, 114, 114);">谷粒商城E卡</a>
            </li>
            <li><a href="#" style="color: rgb(114, 114, 114);">谷粒商城通信</a>
            </li>
            <li><a href="#" style="color: rgb(114, 114, 114);">谷粒商城mall+</a>
            </li>
        </ol>
        <ol>
            <li>谷粒商城自营覆盖区域</li>
            <li>
                谷粒商城已向全国2661个区县提供自<br> 营配送服务，支持货到付款、
                <br> POS机刷卡和售后上门服务。
            </li>
            <li><a href="#" style="color: rgb(114, 114, 114);">查看详情&gt;</a>
            </li>
        </ol>
    </div>
    <div class="footer_foot">
        <p class="footer_p p1">
            <a href="#">关于我们</a>
            <span></span>
            <a href="#" style="color: rgb(114, 114, 114);">联系我们</a>
            <span></span>
            <a href="#">联系客服</a>
            <span></span>
            <a href="#" style="color: rgb(114, 114, 114);">合作招商</a>
            <span></span>
            <a href="#" style="color: rgb(114, 114, 114);">商家帮助</a>
            <span></span>
            <a href="#" style="color: rgb(114, 114, 114);">营销中心</a>
            <span></span>
            <a href="#" style="color: rgb(114, 114, 114);">手机谷粒商城</a>
            <span></span>
            <a href="#" style="color: rgb(114, 114, 114);">友情链接</a>
            <span></span>
            <a href="#" style="color: rgb(114, 114, 114);">销售联盟</a>
            <span></span>
            <a href="#" style="color: rgb(114, 114, 114);">谷粒商城社区</a>
            <span></span>
            <a href="#" style="color: rgb(114, 114, 114);">风险监测</a>
            <span></span>
            <a href="#">隐私政策</a>
            <span></span>
            <a href="#">谷粒商城公益</a>
            <span></span>
            <a href="#" style="color: rgb(114, 114, 114);">English Site</a>
            <span></span>
            <a href="#">media &amp; IR</a>
        </p>
        <p class="footer_p">
            <a href="#">京公网安备 11000002000088号</a>
            <span></span>
            <a href="#">京ICP证070359号</a>
            <span></span>
            <a href="#">互联网药品信息服务资格证编号(京)-经营性-2014-0008</a>
            <span></span>
            <a href="#">新出发京零 字第大120007号</a>
        </p>
        <p class="footer_p">
            <a href="#">互联网出版许可证编号新出网证(京)字150号</a>
            <span></span>
            <a href="#">出版物经营许可证</a>
            <span></span>
            <a href="#">网络文化经营许可证京网文[2014]2148-348号</a>
            <span></span>
            <a href="#">违法和不良信息举报电话：4006561155</a>
        </p>
        <p class="footer_p">
            <a href="#">Copyright © 2004 - 2017 谷粒商城JD.com 版权所有</a>
            <span></span>
            <a href="#">消费者维权热线：4006067733</a>
            <a href="#">经营证照</a>
        </p>
        <p class="footer_p">
            <a href="#">谷粒商城旗下网站:</a>
            <a href="#">谷粒商城支付</a>
            <span></span>
            <a href="#">谷粒商城云</a>
        </p>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</footer>

<!--右侧侧边栏-->
<div class="header_bar">
    <div class="header_bar_box">
        <ul>
            <li>
                <a href="#"><img src="/static/search/img/wo.png"/></a>
                <div class="div">
                    <a href="#">谷粒商城会员</a>
                </div>
            </li>
            <li>
                <a href="#"><img src="/static/search/img/gouwuche.png"/></a>
                <div class="div">
                    <a href="#">购物车</a>
                </div>
            </li>
            <li>
                <a href="#"><img src="/static/search/img/taoxin.png"/></a>
                <div class="div">
                    <a href="#">我的关注</a>
                </div>
            </li>

            <li>
                <a href="#"><img src="/static/search/img/shi.png"/></a>
                <div class="div">
                    <a href="#">我的足迹</a>
                </div>
            </li>
            <li>
                <a href="#"><img src="/static/search/img/xinxi.png"/></a>
                <div class="div">
                    <a href="#">我的消息</a>
                </div>
            </li>
            <li>
                <a href="#"><img src="/static/search/img/qianbao.png"/></a>
                <div class="div">
                    <a href="#">资讯JIMI</a>
                </div>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#"><img src="/static/search/img/fa3f24a70d38bd439261cb7439e517a5.png"/></a>
                <div class="div">
                    <a href="#">顶部</a>
                </div>
            </li>
            <li>
                <a href="#"><img src="/static/search/img/xinxi.png"/></a>
                <div class="div">
                    <a href="#">反馈</a>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/search/js/search.js"></script>
<script type="text/javascript" src="/static/search/js/header.js"></script>
<script type="text/javascript" src="/static/search/js/catalogLoader.js"></script>
<script type="text/javascript" src="/static/search/js/bootstrap.min.js"></script>
</html>
